/************************************ Tag Styles*********************************/
body {
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 7rem;
  margin-top: 0;
  color: #66BFBF;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: bold;
  line-height: 1;
}

h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #11999E;
}
p {
  font-weight: bold;
  line-height: 2;
}

/* Navigation Bar */
.navbar{
  font-family: "Montserrat Alternates";
  font-size: 1.5rem;
}

/**********************************Class styles*********************************/
.top-container {
  background-color: #ABEBC6;
  position: relative;
  padding-top: 200px;
}
.middle-container{
  margin: 50px auto;
}
.bottom-container{
  background-color: #47B676;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}
.cloud-top {
  position: absolute;
  right: 500px;
  top: 30px;
}

.cloud-bot {
  position: absolute;
  left: 450px;
  bottom: 320px;
}

.btn {
  color: #11999E;
}

.footer-link {
  color: #11999E;
}

.skill-row {
  width: 50%;
  margin: 100px auto 130px auto;
  text-align: left;

}

.simg {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.gimg {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.hello-text {
  color: #40514E;
  width: 30%;
  margin: auto;
}

.dots {
  border:none;
  border-top: 8px dotted #FFEBDD;
  width: 7%;
  margin: 50px auto 50px auto;

}
.footer-link{
  color: orange;
  margin: 30px;
  font-size: 2rem;
  font-family:'Montserrat Alternates', sans-serif;
  text-decoration: none;
}
.footer-link:hover{
  color: pink;
}
.sign-text{
  color: white;
  padding-top: 10px;
}

.btn {
   background: #47B676;
   background-image: -webkit-linear-gradient(top, #47B676, #1ED0C8);
   background-image: -moz-linear-gradient(top, #47B676, #1ED0C8);
   background-image: -ms-linear-gradient(top, #47B676, #1ED0C8);
   background-image: -o-linear-gradient(top, #47B676, #1ED0C8);
   background-image: -webkit-gradient(to bottom, #47B676, #1ED0C8);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Montserrat Alternates', sans-serif;
   font-size: 2rem;
   font-weight: 100;
   padding: 10px;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 20px;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #D01EAC;
   background-image: -webkit-linear-gradient(top, #D01EAC, #F6C83D);
   background-image: -moz-linear-gradient(top, #D01EAC, #F6C83D);
   background-image: -ms-linear-gradient(top, #D01EAC, #F6C83D);
   background-image: -o-linear-gradient(top, #D01EAC, #F6C83D);
   background-image: -webkit-gradient(to bottom, #D01EAC, #F6C83D);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
